@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;600;700;800 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 body {
   background-image: url(../img/f.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

#login-container, #register-container {
   background-color: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: center;
}

.btn-1 {
   display: inline-block;
   padding: 2px 4px;
   background-color: #ffffff;
   color: #000000;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 20px;
   font-family: 'Bebas Neue', sans-serif;
   margin-top: 10px;
   border: 2px solid #bdbdbd;
}

.btn-1:hover {
   border: 2px solid #000000;
}

a {
   color: #007bff;
   text-decoration: none;
   cursor: pointer;
}

a:hover {
   text-decoration: underline;
}
