h1 {
    justify-content: left;
    color: red;
    font-style: italic;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #141313;
}

#menu ul {
    /*list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;*/
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#menu ul li {
    list-style: none;
    position: relative;
}
#menu ul li a {
    /*background-color: rgb(64, 68, 64);*/
    position: relative;
    text-decoration: none;
    font-size: 2em;
    line-height: 1em;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke: 1px rgba(235, 229, 229, 0.5);
}
#menu ul li a::before {
    /*color: rgb(27, 67, 248);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 10px 10px 20px;*/
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0px;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}
#menu ul li a:hover::before {
    /*background: #000;
    border-left: 10px solid #333;
    color: #fff;
    border-left: 10px solid #666*/
    width: 100%;
    filter: drop-shadow(7px -12px 50px var(--clr));
}

